@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rajdhani:wght@500;600&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Rajdhani', sans-serif;
}

/* Keyframe de animação */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Keyframe de animação */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Para o fundo animado */
@keyframes gradiente-animado {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
